p.sub-title1 {
color: aqua;
}
p#sub-title2 {
color: pink;
}
.company{
  font-weight: bold;
  font-size: larger;
}
h1 {
  color: red; 
  font-size: 50pt;
  font-weight: bold;
}
div.box1{
  height: 100px;
  width: 100px;
  background-color: royalblue;
  text-align: center;
}
div.box2{
  height: 100px;
  width: 100px;
  background-color: mediumturquoise;
  text-align: center;
}
div.box3{
  height: 100px;
  width: 100px;
  background-color: yellow;
  text-align: center;
}